<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Clover's Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css')}}">
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/Zacharycoo/images-repo/main/My%20project.jpg">
        <br>
        <p>What type of project would you like to see?</p>
        <br>
        <a id="button1" name="technical" class="button" href="/projects/technical">Technical</a>
        <a id="button2" name="personal" class="button" href="/projects/personal">Personal</a>
    </body>
</html>