<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Clover's Portfolio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/technical.css')}}">
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/Zacharycoo/images-repo/main/My%20project.jpg" id="img1">
        <br>
        <p>My Technical Projects:</p>
        <br>
        <a id="button1" name="rps" class="button" href="https://drive.google.com/file/d/1cxaLFt_XSlDlmX9_iCSsRDARqWTN3lRW/view?usp=share_link">Rock, Paper, Scissors</a>
        <a id="button2" name="url_shortener" class="button" href="https://drive.google.com/file/d/1TOU-AMJSTC_KxvzH3Py733izi8YRRNmS/view?usp=share_link"> URL Shortener</a>
    </body>
</html>